.App {
  text-align: center;
  margin: 0 auto;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  font-family: 'Lobster', cursive;
  color: #FFF;
}
.iniciar{
  font-family: 'Sedgwick Ave', cursive;
  font-size: 20px;
}
.imgUser{
  border-radius: 50%;
}
.contTitle{
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 1;
}
