
.container{
  box-shadow: 5px 5px 5px #999;
}

#menu{
  transition: all 2s ease;
  transform: rotate(360deg);
}

.googleButton{
  padding: 5px;
  background-color: #FFF;
  border-radius: 50%;
  width: 35px;
}
